html { 
     box-sizing: border-box;
       }
   
  * { 
   box-sizing: inherit;
    }

   #mainbody { 
      background-color: lightgray;
      width: 450px;
      height: 816px;
      margin: 0 auto;
      font-family: Arial, verdana;
      letter-spacing: 1px;
      padding: 0 0.3rem;
      padding-bottom: 0.5rem;
      border-radius: 0 0 27px 27px / 0 0 27px 27px;
       }

 /* Header Styles */
   header {
       height: 100px; 
       border-bottom: 3px lightgray solid; 
       position: relative;
       padding-bottom: 0;           
          }

   .bx-signal-4 {
          position: absolute;
          bottom: 3.5px;
          left: 20px;
              }
   #headertext1 { 
          color: white;
          font-weight: bold;
          font-size: 1rem;
          position: absolute;
          bottom: 1px;
          left: 41px;
          margin:0 0 0 2px;
          padding-bottom: 3px;
                 }

/* For the images and text on the right side of the work, the battery icon is positioned first before all others */

   .bx-battery {
          position: absolute;
          bottom: -7px;
          right: 30px;
              } 
          
   #headertext2 {
          color: white;
          font-weight: bold;
          font-size: 1rem;
          position: absolute;
          bottom: -15px;
          right: 60px;
          line-height: 1.351rem;
          padding-bottom: 1.5px;
                 }

   
   

/* main body styles */
 
  /* First Row Style */

#row1 {
     display: flex;
     height: 25%;
     justify-content: space-around;
     align-items: center;
     padding: 0 .5rem;
      }
  .item {
    width: 45%;
    height: 97%;
    border-radius: 11%;
    background-color: rgba(99, 98, 98, .9);
    }

   .item1 { 
    padding: .5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; 
      }

   .circle {
      width: 39%;
      height: 37%;
      border-radius: 50%;
      margin-top: .5rem;
      background-color: white;
      position: relative;
   }
  .circle1 {
     background-color: rgb(160, 158, 158);
      }
  .circle2 {
    background-color: rgb(21, 214, 21);
    }
  .item2 {
   position: relative;
   }


/* Second Row */

 #row2 {
     display: flex;
     height: 25%;
     justify-content: space-around;
     align-items: center;
     padding: 0 .2rem;
      }
  #lockcircle {
    width: 57%;
    height: 59%;
    border-radius: 50%;
    border: 2px solid red;
    position: absolute;
    top: 22% ;
    left: 22%;
       }
   .column1 {
    display: flex;
    justify-content: space-around;
    width: 48%;
    height: 100%;
    flex-flow: row wrap;
   }
   .square {
    width: 39.5%;
    height: 40%;
    border-radius: 28% / 32%;
    margin-top: .5rem;
    background-color: white;
    position: relative;
    }
  .square2 {
   background-color: rgba(99, 98, 98, .9);
    }
  .rectangle1 {
    width: 90%;
      height: 40%;
      border-radius: 16% / 33%;
      margin-top: .5rem;
      background-color: rgba(99, 98, 98, .9);
      position: relative;
    }
  #circlerectangle {
   width: 32%;
   height: 72%;
   position: absolute;
   top: 13%;
   left: 8%;
   background-color: rgb(160, 158, 158); 
   border-radius: 50%;
  }
  #focus {
   color: white;
   position: absolute;
   top: 23%;
   right: 25%;
   }
  .column2 {
   display: flex;
   flex-flow: column wrap;
   justify-content: space-around;
   width: 46%;
   height: 100%;
   }
  .rectangle2, .rectangle3 {
    width: 45%;
      height: 93%;
      border-radius: 30% / 15%;
      background-color: white;
      position: relative;
    }
  #toppart {
   height: 65%;
   background-color: rgba(99, 98, 98, .9);
   border-radius:  30% 30% 0 0 / 15% 15% 0 0;
  }
  #brightness {
  position: absolute;
  top: 70%;
  left: 20%;
  }

 /* Third Row Style */
#row3 {
     display: flex;
     height: 39%;
     justify-content: space-around;
     flex-flow: row wrap;
     padding: 0 .5rem;
      }
  .cube { 
    background-color: rgba(99, 98, 98, .9);
    width: 18.5%;
    height: 25.5%;
    border-radius: 28% / 32%;
    position: relative;
    margin: .2rem;
    margin-top: .5rem;
    position: relative;
  }

 /* Image Positioning */
  .bxs-plane {
   position: absolute;
   top: 25%;
   left: 25%;
   }
  .bx-broadcast {
   position: absolute;
   top: 13%;
   left: 15%;
   }
  .bx-bluetooth {
   position: absolute;
   top: 25%;
   left: 23%;
   }
  .bx-wifi-2 {
   position: absolute;
   top: 10%;
   left: 15%;
   }
  .bx-podcast {
   position: absolute;
   top: 4%;
   left: 82%;
   }
  .bx-rewind{
   position: absolute;
   top: 64%;
   left: 9%;
   }
  .bx-play {
   position: absolute;
   top: 64%;
   left: 41%;
   }
  .bx-fast-forward {
   position: absolute;
   top: 64%;
   left: 69%;
   }
  .bx-fast-forward, .bx-rewind:hover {
   color: white;
   }
  #notplaying{
   position: absolute;
   top: 29%;
   left: 22%;
   color: #b2b1b1;
   font-size: 1.1rem;
   margin: 0 auto;
   }
  .bxs-lock-open {
   position: absolute;
   top: 22%;
   left: 24%;
   }
  .bx-cast {
   position: absolute;
   top: 19%;
   left: 22%;
   }
  .bxs-moon {
   position: absolute;
   top: 23%;
   left: 23%;
   }
  .bx-brightness {
   position: absolute;
   top: 64%;
   left: 21%;
   }
  .bx-volume-full {
   position: absolute;
   top: 64%;
   left: 23%;
   }
  .bxs-torch{
   position: absolute;
   top: 20%;
   left: 20%;
   }
  .bx-calculator{
   position: absolute;
   top: 20%;
   left: 20%;
   }
  .bxs-camera{
   position: absolute;
   top: 20%;
   left: 20%;
   }
  .bxl-spotify{
   position: absolute;
   top: 20%;
   left: 20%;
   }
  .bx-qr-scan{
   position: absolute;
   top: 20%;
   left: 20%;
   }
  .bx-stop-circle{
   position: absolute;
   top: 20%;
   left: 20%;
   }
  .bxl-reddit{
   position: absolute;
   top: 20%;
   left: 20%;
   }
  {
   position: absolute;
   top: 23%;
   left: 20%;
   }
  .bxs-alarm{
   position: absolute;
   top: 20%;
   left: 20%;
   }
  .bxs-battery-low{
   position: absolute;
   top: 20%;
   left: 20%;
   }
  {
   position: absolute;
   top: 20%;
   left: 20%;
   }
 
